<%- include('composants/head'); %>
<h1>Boutique</h1>
Argent <%= robot.argent %> Po
<ul>
    <% items.forEach((item) => {%>
        <li><a href="/shop/<%= user.id %>/<%= item.id %>"><%= item.nom %> - <%= item.prix %> - Po</a></li>
    <% });%>
</ul>    
<%- include('composants/footer'); %>